.talk-list
  -@talks.each do |talk|
    %span.talk-user-name= talk.user.name 
    %span.talk-log= talk.log
    %span.talk-action= link_to_if(talk.owner?(current_user), "x", 
      room_talk_path(talk, room_id: params[:room_id]), method: :delete, confirm: "Are you sure?"){}
    %br
.send-talk
  = form_for @new_talk, url: {action: :create} do |f|
    = render partial: 'shared/errors', locals: {model: @new_talk}
    = f.hidden_field :room_id
    .field
      = f.label :log
      = f.text_field :log
    .actions
      = f.submit nil
.back-to-room-list
  = link_to "Room List", rooms_path
